* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Lato, Roboto, sans-serif;
	font-style: center;
	outline: none;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.clicks {
	font-size: 50px;
}
